@font-face {
  font-family: 'PP Neue Montreal';
  font-style: italic;
  font-weight: 400;
  src: local('PP Neue Montreal Italic'),
    url('./assets/fonts/PP-Neue-Montreal/ppneuemontreal-italic.woff')
      format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal ';
  font-style: normal;
  font-weight: 400;
  src: local('PP Neue Montreal Thin'),
    url('./assets/fonts/PP-Neue-Montreal/ppneuemontreal-thin.woff')
      format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  src: local('PP Neue Montreal Medium'),
    url('./assets/fonts/PP-Neue-Montreal/ppneuemontreal-medium.woff')
      format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal';
  font-style: italic;
  font-weight: 600;
  src: local('PP Neue Montreal SemiBold italic'),
    url('./assets/fonts/PP-Neue-Montreal/ppneuemontreal-semibolditalic.woff')
      format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 700;
  src: local('PP Neue Montreal Bold'),
    url('./assets/fonts/PP-Neue-Montreal/ppneuemontreal-bold.woff')
      format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
